@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 14pt;
  height: 100vh; }

table {
  border-spacing: 0; }

th, td {
  border: 1px solid #dee2e6;
  padding: 0.2em 0.5em; }

th {
  border-bottom: 2px solid #dee2e6; }

#header {
  box-sizing: border-box;
  border-bottom: solid 2px lightgray;
  padding: 0.5em;
  position: fixed;
  width: 100%;
  background: white;
  height: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  font-weight: bold; }

#header-right {
  margin-left: 1em; }

#home {
  color: #6d7fcc;
  text-decoration: none; }

#body {
  display: flex;
  padding-top: 2.5rem;
  box-sizing: border-box; }

#sidebarOverlay {
  width: 20rem;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: margin-right 0.5s; }

#sidebar {
  position: fixed;
  box-sizing: border-box;
  background: #8096f0;
  color: white;
  height: 100%;
  padding: 1em 0.5em 4.5rem 0.5em;
  width: 20rem;
  left: 0rem;
  overflow-y: scroll;
  transition: left 0.5s; }
  #sidebar p {
    font-weight: bold;
    font-family: sans-serif; }
  #sidebar ul {
    padding: 0 0 0.5em 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2); }
  #sidebar li {
    list-style: none;
    padding: 0.2em 0 0.2em 1em;
    margin-left: -0.5em;
    margin-right: -0.5em; }
  #sidebar a {
    color: #DDD;
    text-decoration: none; }
  #sidebar li.current {
    background: #6d7fcc; }
  #sidebar li::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f0f6';
    margin-right: 0.5em; }

.close #sidebarOverlay {
  margin-right: -20rem; }
.close #sidebar {
  left: -20rem; }
.close #hamburger {
  left: 0rem; }

#sidebarHeader {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  padding-bottom: 1em; }

#hamburger {
  position: fixed;
  background: #6d7fcc;
  color: white;
  font-size: 22px;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  left: 18.5rem;
  top: 4rem;
  opacity: 0.9;
  transition: left 0.5s; }

#hamburgerTop, #hamburgerBottom {
  width: 1.7rem;
  height: 0.4rem;
  background: white;
  border-radius: 0.2rem;
  position: absolute;
  left: 0.4rem;
  transition: transform 0.5s, left 0.5s; }

#hamburgerTop {
  top: 0.82rem;
  transform: rotate(-45deg); }

#hamburgerBottom {
  bottom: 0.82rem;
  transform: rotate(45deg); }

#body.close #hamburgerTop {
  left: 0.8rem;
  transform: rotate(-135deg); }
#body.close #hamburgerBottom {
  left: 0.8rem;
  transform: rotate(-45deg); }

#content {
  padding: 0 4rem 4rem 4rem;
  overflow: hidden; }
  #content img {
    max-width: 100%; }
  #content p > code {
    background: lightgray;
    padding: 0.1em; }
  #content pre {
    background: lightgray;
    padding: 0.5em;
    margin-left: 0.5em;
    overflow-x: auto; }

.tip, .info, .important {
  color: #155724;
  background-color: #d4edda;
  border: solid 1px #c3e6cb;
  border-radius: 0.5em;
  padding: 0.5em 1em; }

.tip::before {
  content: "💡 Tip: ";
  font-weight: bold; }

.info::before {
  content: "ⓘ Info: ";
  font-weight: bold; }

.important::before {
  content: "⚠ Important: ";
  font-weight: bold; }

@media only screen and (max-width: 600px) {
  #content {
    font-size: 12pt;
    padding: 0 1rem; } }
